<div class="container">
  <div class="timebox">
    <h1><%= Time.now.strftime("%A %B %d, %Y") %></h1>
    <h2><%= Time.now.strftime("%H:%M") %></h2>
  </div>

  <div id="photo-box">
    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap">Snap Photo</button>
    <canvas id="canvas" width="640" height="480"></canvas>
    <button id="btn-save">Save Photo</button>

  </div>

  <div class="question-box">
    <% if @questions %>
      <% @questions.each do |question| %>
        <option class="question" question-id="<%= question.id %>"><%= question.content %></option>
      <% end %>
    <% end %>
    <p><a class="next-question" href="">Next</a></p>
  </div>

  <div class="text-center">
    <form class="" action="/answers" method="post">
      <input type="hidden" class="question_id" name="question_id" value="">
      <textarea name="content" placeholder="Type your answer here"></textarea>
      <% if @errors %>
        <% @errors.each do |error| %>
          <p class="error"><%= error %></p>
        <% end %>
      <% end %>
      <br/>
      <br/>
      <input class="btn btn-success" type="submit" value="Finish" />
    </form>
  </div>


</div>
